<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wallodynamo">

    <!-- Existing permissions -->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <!-- Permissions for Alarms -->
      <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/> 
  <!--  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    -->
<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <!-- Permissions for Media -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL" android:minSdkVersion="33"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" android:minSdkVersion="33"/>

    <application
        android:name=".MainApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/wallo"
        android:roundIcon="@mipmap/wallo"
        android:allowBackup="false"
        android:theme="@style/AppTheme"
        android:supportsRtl="true">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:label="filter_react_native">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="wallodynamo"/>
            </intent-filter>
        </activity>

        <!-- Service Declaration -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="true"/>

        <receiver
            android:name=".WallpaperChangeReceiver"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name=".WallpaperChangeJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>
</manifest>
